/*
 * Footer SCSS
 * ---------------------------
 * This is the scss file to control the styles of the footer.
 * Most of the "settings" are at the top, but dig around to change more specific things.
 * The Color settings are at the top, but any other specific edits will need scss editing.
 * This does follow mobile first design, so to edit tablet +, make sure you edit past the media query.
 *
*/

/* Color Settings */
$background-color: #141414;
$color: #F5EBE8;

/*
 * General Settings
 * --------------
 * Remember, mobile first.
 *
 */

.footer {
  background-color: $background-color;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

.footer-outer {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: top;

  .footer-inner {
    margin: 0 auto;
    text-align: left;
  }

  // The Logo
  img {
    margin: 0 auto;
    width: 40%;
  }

  // Company Name
  h3 {
    color: $color;
    font-size: 2em;
    margin-top: -10px;
    text-align: center;
  }

  .mission-statement {
    color: $color;
    font-size: 0.8em;
    margin: 0;
    padding-top: 10px;
    text-align: center;
  }

  hr {
    color: $color;
    margin: 15px 0;
  }

  ul {
    color: $color;
    text-align: center;
  }

  .copyright {
    color: $color;
    text-align: center;
  }
}

// Socials
.footer-icons {
  margin-top: 25px;
}

.footer-icons a {
  color: #F5EBE8;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  height: 35px;
  line-height: 35px;
  margin-bottom: 5px;
  margin-right: 3px;
  text-align: center;
  width: 35px;
}

/*
 * Tablet
 * --------------
 *
 *
 */

@media screen and (min-width: 40em) {
  .footer {
    padding: 50px 50px 60px;
    text-align: center;
    margin: 0 auto;
  }

  .footer-outer {
    display: inline-block;
    margin-bottom: 40px;
    text-align: center;
    width: 45%;

    .mission-statement {
      padding-top: 20px;
    }
  }

  .footer-links {
    text-align: center;
    margin: 0 auto;
  }

  .footer-links div {
    display: inline-block;
    margin: 0 10px;
  }
}

/*
 * Desktop
 * --------------
 *
 *
 */

@media screen and (min-width: 64em) {
  .footer {
    padding-top: 10px;
    padding-bottom: 20px;

    img {
      margin-bottom: 20px;
      margin-top: 20px;
      width: 20%;
    }
  }
}
