/**
 * Wordpress
 * =================================
 * Sometimes wordpress generates things and tailwind can't hit it. This edits those.
 * - Single - Category
 * - Privacy Policy Styles
 *
 *
 *
 */

.category {
  ul {
    display: inline-block;
  }

  li {
    background-color: #0a4b78;
    padding: 10px;
  }
}

.hidden {
  display: none;
}

/* Privacy Policy Page */
// WP generates this, so in order for it to look right I have to manually style it.
.privacy-policy {
  h2 {
    font-size: 2em;
    font-weight: 800;
    padding-top: 10px;
  }

  p, li {
    padding-bottom: 10px;
  }

  li {
    list-style-type: disc;
    margin-left: 10px;
  }
}

.force-white {
  h1, h2, h3, h4, h5, h6, p {
    color: #FFFFFF !important;
  }
}

.force-black {
  h1, h2, h3, h4, h5, h6, p {
    color: #000000 !important;
  }
}