@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue LT Std';
  font-style: normal;
  font-weight: bold;
  src: url('../../webfonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
  url('../../webfonts/HelveticaNeueLTStd-Bd.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue LT Std';
  font-style: normal;
  font-weight: 500;
  src: url('../../webfonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
  url('../../webfonts/HelveticaNeueLTStd-Md.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue LT Std';
  font-style: italic;
  font-weight: 500;
  src: url('../../webfonts/HelveticaNeueLTStd-MdIt.woff2') format('woff2'),
  url('../../webfonts/HelveticaNeueLTStd-MdIt.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue LT Std';
  font-style: normal;
  font-weight: 900;
  src: url('../../webfonts/HelveticaNeueLTStd-HvEx.woff2') format('woff2'),
  url('../../webfonts/HelveticaNeueLTStd-HvEx.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue LT Std';
  font-style: normal;
  font-weight: bold;
  src: url('../../webfonts/HelveticaNeueLTStd-BdEx.woff2') format('woff2'),
  url('../../webfonts/HelveticaNeueLTStd-BdEx.woff') format('woff');
}

